<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>FlixTube: Upload video</title>

        <link rel="stylesheet" href="css/tailwind.min.css">
        <link rel="stylesheet" href="css/app.css">
    </head>
    <body>
        <script src="js/upload.js"></script>

        <div class="flex flex-col">
            <div class="border-b-2 bg-gray-100">
                <div class="nav flex flex-row items-center mt-1 p-2">
                    <div class="text-xl font-bold">
                        FlixTube
                    </div>
                    <div class="ml-16">
                        <a href="/">Videos</a>
                    </div>
                    <div class="ml-4 border-b-2 border-blue-600">
                        <a href="/upload">Upload</a>
                    </div>
                    <div class="ml-4">
                        <a href="/history">History</a>
                    </div>
                </div>
            </div>

        <div class="m-4">
            <h1>Upload videos</h1>
            <div class="m-4">
                <form class="upload-form">
                    <p>Click the button and choose videos to upload.</p>
                    <input 
                        class="mt-2"
                        type="file" 
                        id="uploadInput" 
                        accept="video/*" 
                        onchange="uploadFiles(this.files)"
                        />
                </form>

                <div id="results" class="mt-4">
                    <div>Uploaded:</div>
                </div>
            </div>
        </div>
    </body>
</html>