.vagrant/
.terraform/
node_modules/
todo.txt
ubuntu-xenial-16.04-cloudimg-console.log
run.log
example-1/video-upload/uploads/
example-1/logs/
example-1/cypress/videos/
example-1/cypress/integration/examples/
example-1/cypress/fixtures/example.json
*.bak
example-1/mock-storage/storage/
example-1/scripts/terraform.tfstate
example-1/scripts/terraform.tfstate.backup
