.vagrant/
video-streaming/node_modules/
todo.txt
ubuntu-xenial-16.04-cloudimg-console.log
history/node_modules/
recommendations/node_modules/
gateway/node_modules/
azure-storage/node_modules/
scripts/.terraform/
run.log
video-upload/node_modules/
video-upload/uploads/
logs/dev-system-up.log
metadata/node_modules/
mock-storage/node_modules/
node_modules/
cypress/videos/
cypress/integration/examples/
cypress/fixtures/example.json
*.bak
