<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Flixtube: Home</title>

        <link rel="stylesheet" href="css/tailwind.min.css">
        <link rel="stylesheet" href="css/app.css">
    </head>
    <body>
        <div class="flex flex-col">
            <div class="border-b-2 bg-gray-100">
                <div class="nav flex flex-row items-center mt-1 p-2">
                    <div class="text-xl font-bold">
                        Flixtube
                    </div>
                    <div class="ml-16 border-b-2 border-blue-600">
                        <a href="/">Videos</a>
                    </div>
                    <div class="ml-4">
                        <a href="/upload">Upload</a>
                    </div>
                    <div class="ml-4">
                        <a href="/history">History</a>
                    </div>
                </div>
            </div>

            <div class="m-4">
                <h1>Videos</h1>
                <div class="m-4">
                    {{#if videos}}
                        {{#each videos}}
                            <div class="mt-1">
                                <a href="/video?id={{this._id}}">{{this.name}}</a> 
                            </div>
                        {{/each}}
                    {{else}}
                        No videos uploaded yet.
                    {{/if}}
                </div>
            </div>
        </div>
    </body>
</html>